.center{
    text-align: center;
    color:aqua;
}
.mode{
  text-align: right;
  color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.spa{
  text-align: left;
  color:blue;
  
} 
.center{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }  
